DATABASE_HOST: "decoupage-napkins-pg"
DATABASE_NAME: "decoupage-napkins"
DATABASE_PORT: "5432"
DATABASE_USER: "decoupage-napkins"
DATABASE_PASSWORD: "12345678"
DATABASE_DEBUG: true
DATABASE_POOL_SIZE: 10
DATABASE_MAX_OPEN_CONNS: 10
DATABASE_MAX_IDLE_CONNS: 10
DATABASE_CONN_MAX_LIFE_TIME: 180

HTTP_PORT: 9888
HTTP_HOST: 127.0.0.1

S3_ACCESS_KEY: ""
S3_SECRET_KEY: ""
S3_ADDRESS: "storage.yandexcloud.net"
S3_BUCKET_NAME: "dev-decoupage-napkins-bucket"